.question__section {
    grid-area: question__section;
}

.miscellaneous {
    grid-area: miscellaneous;
}

.question {
    padding: var(--question-spacing);
}

.question .question__stat {
    font-size: var(--fs-question-stat);
    padding: var(--question-stat-spacing);
}

.question .question__stat .stat__num {
    font-size: var(--fs-question-stat-num);
}

.question .question__user {
    --gap: 0.75em;
}

/* Question Stat Variants */
.question .question__stat,
.stat {
    border: 1px solid transparent;
    border-radius: var(--border-question-stat, 8px);
}

.question .question__stat[data-stat-variant='popular'],
.stat[data-stat-variant='popular'] {
    color: hsl(32 100% 55%);
}

.question .question__stat[data-stat-variant='answering'] {
    border: 1px solid var(--clr-green-primary);
}

.question .question__stat[data-stat-variant='answered'],
.stat[data-stat-variant='answered'] {
    background-color: var(--clr-green-primary);
}