/* Tags */
.tag {
    padding: calc(var(--tag-spacing) * 0.5) var(--tag-spacing);
    color: var(--clr-tag);
    background-color: var(--clr-tag-background);
    border-radius: var(--tag-border, 5px);
}

.tag .tag__cancel {
    font-size: var(--fs-200);
    color: var(--clr-tag);
    padding: 0.25em;
    border-radius: 100vw;
}

/* Tag Detail */
.tags-grid {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.tag-detail {
    padding: var(--tag-detail-spacing);
    height: max-content;
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--tag-detail-border, 6px);
}