/* Tags */
.tag {
    padding: calc(var(--tag-spacing) * 0.5) var(--tag-spacing);
    color: var(--clr-tag);
    background-color: var(--clr-tag-background);
    border-radius: var(--tag-border, 5px);
}

.tag .tag__cancel {
    font-size: var(--fs-200);
    padding: 0.25em;
    border-radius: 100vw;
}