/* Layouts */
[class*='flex'] {
    display: flex;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap, 1em);
}

.flex-items {
    gap: var(--gap, 1em);
}

.flex-col {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid-3fr-1fr {
    grid-template-columns: 3fr 1fr;
    gap: var(--grid-gap, 1em);
}

.flow * > * {
    margin-top: 0.5em;
}

.flex-justify-between {
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    *[data-reset-grid-colums-mobile] {
        grid-template-columns: 1fr !important;
        grid-template-areas: none !important;
    }

    *[data-flex-column-mobile] {
        flex-direction: column !important;
    }
}

/* Profiles */
.profile {
    background-color: var(--clr-background);
    width: var(--profile-size, 2.25em);
    aspect-ratio: 1;
}

.profile[data-profile-variant='beveled'] {
    border-radius: var(--border-beveled, 8px);
}

/* Links */
a[data-link-variant='dotted'] {
    border-bottom-style: dotted;
}

/* Tags */
.tag {
    padding: calc(var(--tag-spacing) * 0.5) var(--tag-spacing);
    color: var(--clr-tag);
    background-color: var(--clr-tag-background);
    border-radius: var(--tag-border, 5px);
}

/* Borders */
.bottom-border {
    padding-bottom: 0.85em;
    border-bottom: 1px solid var(--clr-neutral-500);
}

/* Lists */
.list {
    display: flex;
    gap: var(--list-gap, 0.75em);
}

.list[data-list-type='link'] .list__item {
    display: inline-block;
}

.list[data-list-type='link'] a {
    display: block;
    padding: calc(var(--list-link-spacing) * 0.5) var(--list-link-spacing);
    border-radius: 100vw;
}

.list[data-list-type='link'] a:is(:hover, :focus) {
    background-color: var(--clr-hover);
}

/* Bordered List */
.bordered-list li {
    --border-radius: 8px;

    display: inline-block;
    border: 1px solid var(--clr-button-border);
}

.bordered-list li > * {
    display: block;
    padding: calc(var(--list-link-spacing) * 0.5) var(--list-link-spacing);
}

.bordered-list li:first-child {
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.bordered-list li:last-child {
    border-left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

/* Borders */
.border-bottom-primary {
    border-bottom: 1px solid gray;
}

/* Cards */
.card {
    padding: calc(var(--card-spacing) * 0.5) var(--card-spacing);
    border-radius: var(--card-border, 6px);
}

.card:not([data-card-variant]) {
    border: 1px solid var(--clr-card-border);
    background-color: var(--clr-card-background);
}

.card[data-card-variant='yellow'] {
    border: 1px solid var(--clr-card-yellow-border);
    background-color: var(--clr-card-yellow-background);
}

/* Text */
.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    word-break: break-all;
    overflow: hidden;
}

/* Elements */
.line-break {
    width: 2px;
    height: 1rem;
    background-color: var(--clr-neutral-300);
    overflow: hidden;
}

.line-break[data-length='long'] {
    height: 2rem;
}

/* Hoverable */
.item-hoverable {
    transition: background-color 95ms ease-in-out;
}

.item-hoverable:not([data-hover-variant]):is(:hover, :focus) {
    background-color: var(--clr-hover);
}

.item-hoverable[data-hover-variant='light']:is(:hover, :focus) {
    background-color: var(--clr-hover-light);
}