/* Layouts */
[class*='flex'] {
    display: flex;
}

[class*='grid'] {
    display: grid;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap, 1em);
}

.flex-items {
    gap: var(--gap, 1em);
}

.flex-col {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid-split {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3fr-1fr {
    grid-template-columns: 3fr 1fr;
    gap: var(--grid-gap, 1em);
}

.flow * > * {
    margin-top: 0.5em;
}

.flex-justify-between {
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    *[data-reset-grid-colums-mobile] {
        grid-template-columns: 1fr !important;
        grid-template-areas: none !important;
    }

    *[data-flex-column-mobile] {
        flex-direction: column !important;
    }

    *[data-flex-reverse-on-mobile] {
        flex-direction: row-reverse !important;
    }
}

/* Profiles */
.profile {
    background-color: var(--clr-background);
    width: var(--profile-size, 2.25em);
    aspect-ratio: 1;
}

.profile[data-profile-variant='beveled'] {
    border-radius: var(--border-beveled, 8px);
}

/* Links */
a[data-link-variant='dotted'] {
    border-bottom-style: dotted;
}

/* Borders */
.bottom-border {
    padding-bottom: 0.85em;
    border-bottom: 1px solid var(--clr-neutral-500);
}

/* Borders */
.border-bottom-primary {
    border-bottom: 1px solid gray;
}

/* Cards */
.card {
    border-radius: var(--card-border, 6px);
}

.card .card__content {
    padding: calc(var(--card-spacing) * 0.5) var(--card-spacing);
}

.card .card__header {
    background-color: var(--clr-card-border);
    padding: calc(var(--card-spacing) * 0.5) var(--card-spacing);
}

.card {
    border: 1px solid var(--clr-card-border);
    background-color: var(--clr-card-background);
}

.card[data-card-variant='yellow'] {
    border: 1px solid var(--clr-card-yellow-border);
    background-color: var(--clr-card-yellow-background);
}

.card[data-card-variant='red'] {
    border: 1px solid var(--clr-card-red-border);
    background-color: var(--clr-card-red-background);
}

/* Elements */
[data-dead='true'] {
    pointer-events: none;
    opacity: 0.5;
}

/* Text */
.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    word-break: break-all;
    overflow: hidden;
}

/* Elements */
.line-break {
    width: 2px;
    height: 1rem;
    background-color: var(--clr-neutral-300);
    overflow: hidden;
}

.line-break[data-length='long'] {
    height: 2rem;
}

/* Hoverable */
.item-hoverable {
    transition: background-color 95ms ease-in-out;
}

.item-hoverable:not([data-hover-variant]):is(:hover, :focus) {
    background-color: var(--clr-hover);
}

.item-hoverable[data-hover-variant='light']:is(:hover, :focus) {
    background-color: var(--clr-hover-light);
}