:root {
    /* Font Sizes */
    --fs-200: calc(var(--fs-400) * 0.8);
    --fs-300: calc(var(--fs-400) * 0.9);
    --fs-400: 1rem;
    --fs-420: calc(var(--fs-400) * 1.1);
    --fs-450: calc(var(--fs-400) * 1.15);
    --fs-500: calc(var(--fs-400) * 1.25);
    --fs-600: calc(var(--fs-500) * 1.25);
    --fs-700: calc(var(--fs-600) * 1.25);

    --fs-question-stat: calc(var(--fs-400) * 0.85);
    --fs-question-stat-num: calc(var(--fs-400) * 0.7);

    /* Colors */
    --clr-foreground-main: white;
    --clr-background-main: hsl(240 14% 5%);

    --clr-background-400: hsl(240 10% 12%);

    --clr-neutral-200: hsl(0 0% 90%);
    --clr-neutral-280: hsl(0 0% 70%);
    --clr-neutral-300: hsl(0 0% 50%);
    --clr-neutral-400: hsl(0 0% 40%);
    --clr-neutral-500: hsl(0 0% 30%);
    --clr-neutral-700: hsl(0 0% 14%);

    --clr-error-400: hsl(4 87% 57%);

    --clr-hover: rgb(255 255 255 / 0.12);
    --clr-hover-light: rgb(255 255 255 / 0.06);

    --clr-interactible-text: hsl(240 10% 92%);
    --clr-green-primary: hsl(130 52% 41%);

        /* Button Colors */
        --clr-button-background: hsl(240 10% 16%);
        --clr-button-border: hsl(240 10% 38%);
        --clr-button-hover: hsl(240 10% 24%);

        --clr-button-action: hsl(122 48% 37%);
        --clr-button-action-hover: hsl(122 48% 42%);

        --clr-button-full-blue: hsl(220 92% 42%);
        --clr-button-full-blue-hover: hsl(220 92% 46%);

        /* Input Colors */
        --background-input: hsl(240 10% 10%);
        --clr-input-border: hsl(240 20% 28%);
        --clr-input-shadow: hsl(220 97% 45% / 0.36);

        /* Card Colors */
        --clr-card-border: hsl(240 20% 28%);
        --clr-card-background: hsl(240 20% 28% / 0.24);
        --clr-card-yellow-border: hsl(48 80% 43%);
        --clr-card-yellow-background: hsl(48 80% 43% / 0.24);

        /* Link Colors */
        --clr-link: hsl(187 92% 52%);
        --clr-link-dark: hsl(187 92% 42%);

        /* Tag Colors */
        --clr-tag: hsl(220 92% 69%);
        --clr-tag-background: hsl(220 70% 36% / 0.24);
        --clr-tag-faded-background: hsl(220 70% 36% / 0.14);

    /* Spacings */
    --main-content-spacing: 0.25em;
    --nav-spacing: 1.45em;
    --footer-spacing: 1.25em;
    --side-nav-spacing: 1.45em;
    --button-spacing: 0.75em;
    --input-spacing: 0.65em;
    --list-link-spacing: 1em;
    --card-spacing: 0.9em;
    --tag-spacing: 0.45em;
        /* Question Spacings */
        --question-spacing: 0.5em;
        --question-stat-spacing: 0.65em;

        /* Context Menu Spacings */
        --context-menu-spacing: 0.55em;
        --context-menu-item-spacing: 0.85em;
}

@media screen and (max-width: 768px) {
    :root {
        --main-content-spacing: 1em;
    }
}