/* Fonts Weights */
.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.fw-light {
    font-weight: lighter;
}

/* Font Sizes */
.fs-question-stat {
    font-size: var(--fs-question-stat);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-450);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

/* Colors */
.clr-error {
    color: var(--clr-error-400);
}

/* Headers */
.header-500 {
    font-size: var(--fs-500);
}

.header-700 {
    font-size: var(--fs-700);
}

/* Positions */
.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

/* Margins & Paddings */
.margin-l-auto {
    margin-left: auto;
}

.margin-r-auto {
    margin-right: auto;
}

.margin-inline-auto {
    margin-inline: auto;
}

.margin-block-auto {
    margin-block: auto;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-block-1 {
    margin-block: 1em;
}

/* Paddings */
.padding-block-1 {
    padding-block: 1em;
}

.padding-1 {
    padding: 1em;
}

.padding-05 {
    padding: 0.5em;
}

/* Gaps */
.gap-025 {
    gap: 0.25em;
}

.gap-05 {
    gap: 0.5em;
}

.gap-075 {
    gap: 0.75em;
}

/* Widths & Heights */
.width-25ch {
    width: 25ch;
    max-width: 25ch;
}

.max-width-15ch {
    max-width: 55ch;
}

.width-max-content {
    width: max-content;
}

.width-8rem {
    width: 8rem;
}

.width-1fr {
    width: 1fr;
}

.height-max {
    height: max-content;
}

.width-min-100 {
    min-width: 100%;
}

.width-100 {
    width: 100%;
}

/* Texts */
.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-muted {
    color: var(--clr-neutral-280);
}

.innertext-small > * {
    font-size: var(--fs-300);
}

.white-space-nowrap {
    white-space: nowrap;
}

/* Cursors */
.cursor-pointer {
    cursor: pointer;
}

.select-none {
    user-select: none;
}

/* Overflows */
.overflow-x-auto {
    overflow-x: auto;
}

.overflow-hidden {
    overflow: hidden;
}

/* Displays */
.inline-block {
    display: inline-block;
}

/* Misc */
.resize-none {
    resize: none;
}

.resize-vertical {
    resize: vertical;
}

/* Borders */
.border-bottom-0 {
    border-bottom: 0;
}

.border-radius-0 {
    --input-border: 0;
    
    border-radius: 0;
}

/* Development */
.dev-bg {
    background-color: red;
}