.button {
    font-size: var(--fs-button, --fs-400);
    color: var(--clr-interactible-text);
    padding: 0.45em 0.75em;
    background-color: var(--clr-button-background);
    border: 1px solid var(--clr-button-border);
    border-radius: var(--button-border, 6px);
    transition: baackground-color 195ms ease-in-out;
}

.button:not([data-variant]):is(:hover, :focus) {
    background-color: var(--clr-button-hover);
}

/* Variant => action */
.button[data-variant='action'] {
    background-color: var(--clr-button-action);
    border: 0;
}

.button[data-variant='action']:is(:hover, :focus) {
    background-color: var(--clr-button-action-hover);
}

.button[data-variant='full-blue'] {
    background-color: var(--clr-button-full-blue);
    border: 0;
}

.button[data-variant='full-blue']:is(:hover, :focus) {
    background-color: var(--clr-button-full-blue-hover);
}

/* Content => icon */