.footer {
    padding: calc(var(--footer-spacing) * 0.45) var(--footer-spacing);
    background-color: var(--clr-background-400);
}

@media screen and (max-width: 768px) {
    .footer > div {
        display: flex;
        flex-direction: column;
    }
}