.context-menu-container {
    position: relative;
    user-select: none;
}

.context-menu-container .context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: calc(var(--context-menu-spacing) * 0.5) var(--context-menu-spacing);
    background-color: var(--clr-background-400);
    bottom: -56px;
    left: -3em;
    border-radius: 6px;
    visibility: hidden;
    pointer-events: none;
}

.context-menu-container .context__item {
    padding: calc(var(--context-menu-item-spacing) * 0.5) var(--context-menu-item-spacing);
    border-radius: var(--context-menu-item-border, 6px);
}

.context-menu-container .context__item:is(:hover, :focus) {
    background-color: var(--clr-hover);
}

.context-menu-container:focus .context-menu {
    visibility: visible;
    pointer-events: all;
}