/* Lists */
.list {
    display: flex;
    gap: var(--list-gap, 0.75em);
}

.list .list__item {
    display: inline-block;
}

.list a {
    display: block;
    padding: calc(var(--list-link-spacing) * 0.5) var(--list-link-spacing);
    border-radius: var(--list-link-border);
}

.list[data-list-type='link'] a {
    --list-link-border: 100vw;
}

.list a:is(:hover, :focus) {
    background-color: var(--clr-hover);
}

.list[data-list-type='block'] {
    --list-gap: 0em;

    flex-direction: column;
}

.list[data-list-type='block'] a {
    display: block;
    width: 100%;
    padding: calc(var(--list-link-spacing) * 0.5) var(--list-link-spacing);
    border-radius: var(--list-link-border, 4px);
}

/* Variants */
.list[data-list-variant='error'] {
    --list-gap: 0.25em;
    
    color: var(--clr-error-400);
    list-style: disc;
    margin-inline: var(--list-spacing, 1.55em);
    margin-bottom: 0.25em;
}

.list[data-list-vertical] {
    --list-gap: 0;
    flex-direction: column;
    align-items: center;
}

.list[data-list-muted] a {
    color: var(--clr-neutral-280);
}

/* Bordered List */
.bordered-list li {
    --border-radius: 8px;

    display: inline-block;
    border: 1px solid var(--clr-button-border);
}

.bordered-list li > * {
    display: block;
    padding: calc(var(--list-link-spacing) * 0.5) var(--list-link-spacing);
}

.bordered-list li:first-child {
    border-right: 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.bordered-list li:last-child {
    border-left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}