.notifications .dropdown-container .dropdown {
    --max-height: 20rem;
    
}

.notifications:not([data-notifications='0'])::after {
    content: attr(data-notifications);
    font-size: var(--fs-200);
    position: absolute;
    padding: var(--notification-counter-spacing);
    background-color: var(--clr-error-400);
    inset: -0.45rem -0.45rem auto auto;
    border-radius: 100vw;
}

.notification .notification__user {
    max-width: 26ch;
}

.notification .notification__text {
    max-width: 56ch;
}