/* Primary Navbar */
.primary-nav {
    padding: calc(var(--nav-spacing) * 0.5) var(--nav-spacing);
    background-color: var(--clr-background-400);
}

nav .nav__item a {
    display: inline-block;
    padding: calc(var(--nav-item-spacing) * 0.5) var(--nav-item-spacing);
    background-color: var(--clr-hover-light);
    border-radius: var(--nav-item-border, 5px);
}

nav .nav__item:is(:hover, :focus) {
    background-color: var(--clr-hover);
}

/* Side Navbar */
.side-nav {
    --element-display: flex;

    display: none;
    position: fixed;
    padding: calc(var(--side-nav-spacing) * 0.5) var(--side-nav-spacing);
    background-color: var(--clr-background-400);
    width: 188px;
    height: 100%;
    inset: 0 0 0 auto;
}