.input {
    font-size: var(--fs-420);
    padding: calc(var(--input-spacing) * 0.5) var(--input-spacing);
    background-color: var(--background-input);
    border: 2px solid var(--clr-input-border);
    border-radius: var(--input-border, 7px);
}

.input:is(:hover, :focus) {
    border-color: var(--clr-input-shadow);
    box-shadow: 0 0 0.5px 2px var(--clr-input-shadow);
}

/* Input variants */
.input.password-input {
    padding-right: 2.25em;
}

label.input[data-input-variant='image'] {
    display: grid;
    position: relative;
    place-items: center;
    width: 3.5em;
    font-size: var(--fs-700);
    color: var(--clr-neutral-400);
    border-style: dashed;
    aspect-ratio: 1 / 1;
    z-index: 999;
}

label.input[data-input-variant='image'] .preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

label.input[data-input-variant='image']:is(:hover, :focus) {
    color: var(--clr-neutral-200);
}

/* Input Container */
.input-container {
    align-items: center;
    justify-content: flex-end;
}

.input-container input {
    flex-grow: 1;
}

.input-container .input-icon {
    position: absolute;
    color: var(--clr-neutral-400);
    right: 16px;
}

.input-container .input-icon[data-active='true'] {
    color: var(--clr-neutral-200);
}