.dropdown-container .dropdown__link {
    display: inline-block;
    padding: calc(var(--nav-item-spacing) * 0.5) var(--nav-item-spacing);
    background-color: var(--clr-hover-light);
    border-radius: var(--nav-item-border, 5px);
}

.dropdown-container .dropdown {
    display: flex;
    top: calc(100% + 0.5rem);
    right: 30%;
    padding: var(--dropdown-spacing);
    background-color: var(--clr-background-400);
    border: 1px solid var(--clr-neutral-400);
    border-radius: var(--dropdown-border, 4px);
    z-index: 999999999999999999999999999999;
}

.dropdown-container  .dropdown__item {
    padding: calc(var(--dropdown-item-spacing) * 0.5) var(--dropdown-item-spacing);
    white-space: nowrap;
    border-radius: var(--dropdown-item-border, 3px);
    transition: background-color 95ms ease-in-out;
}

.dropdown-container  .dropdown__item[data-variant='red'] {
    background-color: var(--clr-card-red-border);
}

.dropdown-container .dropdown__item[data-variant='']:is(:hover, :focus) {
    background-color: var(--clr-hover-light);
}